<a href="https://colab.research.google.com/github/aminsadruddin/Case-Study-Data-Cleaning/blob/main/Case_Study_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Piggy bank

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two-year loan in the United Kingdom is around 10%. This might not sound like a lot, but in September 2022 alone UK consumers borrowed around £1.5 billion, which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to ensure it conforms to the specific structure and data types that they specify so that they can then use the cleaned data you provide to set up a PostgreSQL database, which will store this campaign's data and allow data from future campaigns to be easily imported.

They have supplied you with a csv file called "bank_marketing.csv", which you will need to clean, reformat, and split the data, saving three final csv files. Specifically, the three files should have the names and contents as outlined below:

In [1]:
import pandas as pd
import numpy as np
!pip install gdown # ### import files from google drive
import gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [2]:
# df = pd.read_csv("bank_marketing.csv")
df = pd.read_csv("/content/drive/MyDrive/Case-Study-Data-Cleaning/data/bank_marketing.csv")

for col in ["credit_default", "mortgage", "previous_outcome", "campaign_outcome"]:
    print(col)
    print("--------------")
    print(df[col].value_counts())

credit_default
--------------
credit_default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
mortgage
--------------
mortgage
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
previous_outcome
--------------
previous_outcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
campaign_outcome
--------------
campaign_outcome
no     36548
yes     4640
Name: count, dtype: int64

# Client.csv working

In [3]:
# Clean and process 'client.csv' data
client = df[["client_id", "age", "job", "marital", "education", "credit_default","mortgage"]]
client

,client_id,age,job,marital,education,credit_default,mortgage
0,0,56,housemaid,married,basic.4y,no,no
1,1,57,services,married,high.school,unknown,no
2,2,37,services,married,high.school,no,yes
3,3,40,admin.,married,basic.6y,no,no
4,4,56,services,married,high.school,no,no
...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional.course,no,yes
41184,41184,46,blue-collar,married,professional.course,no,no
41185,41185,56,retired,married,university.degree,no,yes
41186,41186,44,technician,married,professional.course,no,no
41187,41187,74,retired,married,professional.course,no,yes

In [4]:
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   mortgage        41188 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.2+ MB

In [5]:
# 1. Clean 'job' and 'education' columns
client['job'] = client['job'].str.replace('.', '_')
client['education'] = client['education'].str.replace('.', '_')
client['education'].replace('unknown', np.nan, inplace=True)

<ipython-input-5-2303e7679a9d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['job'] = client['job'].str.replace('.', '_')
<ipython-input-5-2303e7679a9d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'] = client['education'].str.replace('.', '_')
<ipython-input-5-2303e7679a9d>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  client['education'].replace('unknown', np.nan, inplace=True)
<ipython-input-5-2303e7679a9d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'].replace('unknown', np.nan, inplace=True)

In [6]:
client['job']

0          housemaid
1           services
2           services
3             admin_
4           services
            ...
41183        retired
41184    blue-collar
41185        retired
41186     technician
41187        retired
Name: job, Length: 41188, dtype: object

In [7]:
# 2. Convert 'credit_default' and 'mortgage' to boolean (1 for 'yes', 0 for 'no')
client['credit_default'] = client['credit_default'].apply(lambda x: 1 if x == 'yes' else 0)
client['mortgage'] = client['mortgage'].apply(lambda x: 1 if x == 'yes' else 0)

<ipython-input-7-9bbe72b91bc3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['credit_default'] = client['credit_default'].apply(lambda x: 1 if x == 'yes' else 0)
<ipython-input-7-9bbe72b91bc3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['mortgage'] = client['mortgage'].apply(lambda x: 1 if x == 'yes' else 0)

In [8]:
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       39457 non-null  object
 5   credit_default  41188 non-null  int64
 6   mortgage        41188 non-null  int64
dtypes: int64(4), object(3)
memory usage: 2.2+ MB

In [9]:
# Save the cleaned data into separate CSV files
client.to_csv('/content/drive/MyDrive/Case-Study-Data-Cleaning/data/client.csv', index=False)

# campaign.csv working

In [10]:
df["year"] = 2022

In [11]:
#df['date'] = pd.to_datetime(df['day'].astype(str) + '-' + df['month'].astype(str) + '-' + str(year), format='%Y-%m-%d')
df['date'] = pd.to_datetime(df['day'].astype(str) + '-' + df['month'].astype(str) + '-' + str(2022), format='%d-%b-%Y')

In [12]:
df['date']

0       2022-05-13
1       2022-05-19
2       2022-05-23
3       2022-05-27
4       2022-05-03
           ...
41183   2022-11-30
41184   2022-11-06
41185   2022-11-24
41186   2022-11-17
41187   2022-11-23
Name: date, Length: 41188, dtype: datetime64[ns]

In [18]:
# change the cloum name
df.rename(columns={'date': "last_contact_date"}, inplace=True)
# df['date'] = ["last_contact_date"]
df['last_contact_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 41188 entries, 0 to 41187
Series name: last_contact_date
Non-Null Count  Dtype
--------------  -----
41188 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 321.9 KB

In [20]:
df.last_contact_date.info()

<class 'pandas.core.series.Series'>
RangeIndex: 41188 entries, 0 to 41187
Series name: last_contact_date
Non-Null Count  Dtype
--------------  -----
41188 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 321.9 KB

In [14]:
df['last_contact_date']

0       2022-05-13
1       2022-05-19
2       2022-05-23
3       2022-05-27
4       2022-05-03
           ...
41183   2022-11-30
41184   2022-11-06
41185   2022-11-24
41186   2022-11-17
41187   2022-11-23
Name: last_contact_date, Length: 41188, dtype: datetime64[ns]

In [15]:
# Clean and process 'campaign.csv' data
campaign = df[["client_id", "number_contacts", "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome", "last_contact_date"]]
campaign

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,nonexistent,no,2022-05-13
1,1,1,149,0,nonexistent,no,2022-05-19
2,2,1,226,0,nonexistent,no,2022-05-23
3,3,1,151,0,nonexistent,no,2022-05-27
4,4,1,307,0,nonexistent,no,2022-05-03
...,...,...,...,...,...,...,...
41183,41183,1,334,0,nonexistent,yes,2022-11-30
41184,41184,1,383,0,nonexistent,no,2022-11-06
41185,41185,2,189,0,nonexistent,no,2022-11-24
41186,41186,1,442,0,nonexistent,yes,2022-11-17
41187,41187,3,239,1,failure,no,2022-11-23

In [22]:
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   previous_campaign_contacts  41188 non-null  int64
 4   previous_outcome            41188 non-null  object
 5   campaign_outcome            41188 non-null  object
 6   last_contact_date           41188 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 2.2+ MB

In [23]:
#client['credit_default'] = client['credit_default'].apply(lambda x: 1 if x == 'yes' else 0)
#client['mortgage'] = client['mortgage'].apply(lambda x: 1 if x == 'yes' else 0)
campaign["previous_outcome"] = campaign["previous_outcome"].apply(lambda x: 1 if x == 'success' else 0)
campaign["campaign_outcome"] = campaign["campaign_outcome"].apply(lambda x: 1 if x == 'yes' else 0)

<ipython-input-23-4b4815ca7e70>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["previous_outcome"] = campaign["previous_outcome"].apply(lambda x: 1 if x == 'success' else 0)
<ipython-input-23-4b4815ca7e70>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["campaign_outcome"] = campaign["campaign_outcome"].apply(lambda x: 1 if x == 'yes' else 0)

In [24]:
# Save the cleaned data into separate CSV files
campaign.to_csv('/content/drive/MyDrive/Case-Study-Data-Cleaning/data/campaign.csv', index=False)

# economics.csv Working

In [27]:
economics = df[["client_id","cons_price_idx","euribor_three_months"]]
economics

       client_id  cons_price_idx  euribor_three_months
0              0          93.994                 4.857
1              1          93.994                 4.857
2              2          93.994                 4.857
3              3          93.994                 4.857
4              4          93.994                 4.857
...          ...             ...                   ...
41183      41183          94.767                 1.028
41184      41184          94.767                 1.028
41185      41185          94.767                 1.028
41186      41186          94.767                 1.028
41187      41187          94.767                 1.028

[41188 rows x 3 columns]

In [28]:
economics.to_csv('/content/drive/MyDrive/Case-Study-Data-Cleaning/data/economics.csv', index=False)

# 2. Convert 'credit_default' and 'mortgage' to boolean (1 for 'yes', 0 for 'no')
client_df['credit_default'] = client_df['credit_default'].apply(lambda x: 1 if x == 'yes' else 0)
client_df['mortgage'] = client_df['mortgage'].apply(lambda x: 1 if x == 'yes' else 0)

# Clean and process 'campaign.csv' data
campaign_df = df[['client_id', 'number_contacts', 'contact_duration', 'previous_campaign_contacts', 'previous_outcome', 'campaign_outcome', 'day', 'month']].copy()

# 1. Convert 'previous_outcome' and 'campaign_outcome' to boolean (1 for 'success' or 'yes', 0 for others)
campaign_df['previous_outcome'] = campaign_df['previous_outcome'].apply(lambda x: 1 if x == 'success' else 0)
campaign_df['campaign_outcome'] = campaign_df['campaign_outcome'].apply(lambda x: 1 if x == 'yes' else 0)

# 2. Generate 'last_contact_date' from 'day', 'month', and a constant 'year' of 2022
campaign_df['last_contact_date'] = pd.to_datetime(campaign_df['day'].astype(str) + '-' + campaign_df['month'].astype(str) + '-2022', format='%d-%m-%Y')

# Clean and process 'economics.csv' data
economics_df = df[['client_id', 'cons_price_idx', 'euribor_three_months']].copy()

# Save the cleaned data into separate CSV files
client_df.to_csv('client.csv', index=False)
campaign_df.to_csv('campaign.csv', index=False)
economics_df.to_csv('economics.csv', index=False)

print("Data cleaning and processing completed. Files saved as 'client.csv', 'campaign.csv', and 'economics.csv'.")
Detailed Breakdown:
Client Data (client.csv):

Columns: client_id, age, job, marital, education, credit_default, mortgage
Replaces periods with underscores in job and education.
Replaces "unknown" with NaN in the education column.
Converts credit_default and mortgage to boolean values based on "yes" or "no".
Campaign Data (campaign.csv):

Columns: client_id, number_contacts, contact_duration, previous_campaign_contacts, previous_outcome, campaign_outcome, last_contact_date
Converts previous_outcome and campaign_outcome to boolean values (1 for "success" or "yes", 0 for others).
Creates last_contact_date by combining day, month, and the year 2022.
Economics Data (economics.csv):

Columns: client_id, cons_price_idx, euribor_three_months
No specific changes are required for this file, just extraction of relevant columns.
Expected Output:
After running the script, you will have three cleaned CSV files saved as:

client.csv
campaign.csv
economics.csv
These files can now be imported into a PostgreSQL database or further analyzed as needed.